/*unversial properties*/
body {
    font-family: "DejaVu Sans Mono, monospace";
    background-color: whitesmoke;
}

/* start of quiz screen */
.start-quiz {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

/* hide */
.hide {
    display: none;
}

/* h1 properties */
h1 {
    text-align: center;
    color: salmon;
}

/* start screen intro */
p {
    text-align: center;
}

/*  */
.button {
    align-items: center;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    font-size: 100%;
    background-color: salmon;
    border-radius: 50%;
    padding: 16px;
    color: white;
    border: 0;
}
/* h2 properties */
h2 {
    color: salmon;
}

/* timer properties */
.timer {
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    margin: 10px;
    font-size: 100%;
    color: white;
    background-color: salmon;
    border-radius: 50%;
    padding: 16px;
    border: 0;
}

/* button properties */
.button {
    text-align: center;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    font-size: 100%;
    background-color: salmon;
    border-radius: 50%;
    padding: 16px;
    color: white;
    border: 0;
}

/* button hover properties */
button:hover {
    background-color: grey;
    transition: 2s;
}

/* question chioces properties */
.choices {
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    padding-left: 50px;
}

.choices button {
    text-align: center;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    font-size: 100%;
    background-color: salmon;
    border-radius: 50%;
    padding: 16px;
    color: white;
    border: 0;
}

input[type="text"] {
    font-size: 100%;
}

.highscores-title {
    text-align: center;
    margin: 100px auto 0 auto;
    max-width: 600px;
}

ol {
    padding-left: 0px;
    max-height: 400px;
    overflow: auto;
}

li {
    padding: 5px;
    list-style: decimal inside none;
}
.highscores-list {
    text-align: center;
    margin: 100px auto 0 auto;
    max-width: 600px;
}
/* go back and clear highscores button */
#go-back.end-button {
    align-items: center;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    font-size: 100%;
    background-color: salmon;
    border-radius: 50%;
    padding: 16px;
    color: white;
    border: 0;
}

#clear.end-button {
    align-items: center;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    font-size: 100%;
    background-color: salmon;
    border-radius: 50%;
    padding: 16px;
    color: white;
    border: 0;
}

.highscores {
    text-align: center;
    display: inline-block;
    margin: auto;
    cursor: pointer;
    font-size: 100%;
    border-radius: 50%;
    padding: 16px;
    color: white;
    border: 0;
}

/* footer properties */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: salmon;
    text-align: center;
    font-size: x-large;
}